@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --1: #100e0e;
  --prime: #0071e4;
  --03: #b7b7b7;
  --light-grey: #f9f9f9;
  --05: #878787;
  --01: #e7e7e7;
  --06: #706e6e;
  --07: #585656;
  --09: #282626;
  --02: #dbdbdb;
  --light-prime: #2a93fd;
  --icon-ligt: #ccc;
}

:root {
  --font-family: "Open Sans", sans-serif;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

body {
  margin: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* // * header_top * */
.header__top {
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__select_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.header__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.header__select_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--1);
}

.header_select {
  border: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--prime);
}

/* // * header__middle * */
.header__middle {
  padding: 23px 0 31px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__middle_menu {
  display: none;
}

.header__middle_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__middle_mobile {
  display: none;
}

.header__middle_item:nth-child(2) {
  background: #fdefbf;
  padding: 0 5px;
  border-radius: 8px;
}

.header__middle_input {
  position: relative;
  display: none;
}

.header__middle_input::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  left: -32px;
  background-image: url("../../img/input__middle_search.svg");
  position: absolute;
}

.input__middle::-webkit-input-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--03);
}

.input__middle::-moz-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--03);
}

.input__middle:-ms-input-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--03);
}

.input__middle::-ms-input-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--03);
}

.input__middle::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--03);
}

.input__middle {
  border: none;
  width: 215px;
}

.header__middle_link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--1);
}

.header__middle_tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header_tel_link:nth-child(1) {
  position: relative;
}

.header_tel_link:nth-child(1)::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -29px;
  background-image: url("../img/header_middle_tel.svg");
}

.header_tel_link:nth-child(1) {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--1);
}

.header_tel_link:nth-child(2) {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--prime);
}

/* // * header__bottom * */
.header__bottom {
  padding: 22px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.header__bottom_btn {
  padding: 16px 16px 16px 52px;
  border-radius: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  background: var(--prime);
  position: relative;
  display: block;
}

.header__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__bottom_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.header__bottom_btn::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../../img/header_bottom_btn.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
}

.header__bottom_input {
  padding: 16px 56px;
  width: 100%;
  border: 1px solid var(--03);
  border-radius: 8px;
}

.header__bottom_input::-webkit-input-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--03);
}

.header__bottom_input::-moz-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--03);
}

.header__bottom_input:-ms-input-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--03);
}

.header__bottom_input::-ms-input-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--03);
}

.header__bottom_input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--03);
}

.header__bottom_btn2 {
  padding: 16px 69px 16px 59px;
  border-radius: 16px;
  background: #52d116;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  display: block;
}

.header__bottom_btn2 span {
  border-radius: 32px;
  padding: 4px 12px;
  -webkit-box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #46c609;
}

@media screen and (max-width: 1182px) {
  .header__middle_list {
    gap: 12px;
  }
}
@media screen and (max-width: 1130px) {
  .header__middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 8px 0;
  }
  .header__middle_menu {
    display: block;
  }
  .header__middle_input {
    display: inline-block;
  }
  .header_tel_link:nth-child(2) {
    display: none;
  }
  .header__top {
    display: none;
  }
  .header__bottom {
    display: none;
  }
  .header__middle_list {
    display: none;
  }
  .header__middle_tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 40px;
  }
}
@media screen and (max-width: 705px) {
  .header__middle_tel {
    gap: 20px;
  }
}
@media screen and (max-width: 620px) {
  .header__middle_input {
    display: none;
  }
  .header_tel_link {
    display: none;
  }
  .header__middle_logo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .header__middle_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
  }
  .header__middle_menu {
    margin-left: 32px;
  }
}
.hero__list {
  padding: 12px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__item {
  position: relative;
}

.hero__item_link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--1);
}

.hero__item:nth-child(1)::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -42px;
  width: 48px;
  height: 48px;
  background-image: url("../../img/hero_product1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -55px;
  width: 48px;
  height: 48px;
  background-image: url("../../img/hero_product2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__item:nth-child(3)::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -50px;
  width: 48px;
  height: 48px;
  background-image: url("../../img/hero_product3.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__item:nth-child(4)::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -48px;
  width: 48px;
  height: 48px;
  background-image: url("../../img/hero_product4.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__item:nth-child(5)::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -55px;
  width: 48px;
  height: 48px;
  background-image: url("../../img/hero_product5.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__item:nth-child(6)::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -46px;
  width: 48px;
  height: 48px;
  background-image: url("../../img/hero_product6.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__products_btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 60px;
  background: -webkit-gradient(linear, left top, right top, from(#000), to(#5e556b));
  background: linear-gradient(90deg, #000 0%, #5e556b 100%);
  color: white;
  border: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  border-radius: 8px;
  padding: 20px 50px 20px 66px;
}

.hero__products_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  width: 50px;
  height: 64px;
  background-image: url("../../img/hero__product_btn.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__products_btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background-image: url("../../img/hero__product_btn2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__block {
  width: 100%;
  background: #d0eafc;
  padding-top: 99px;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 45px;
  position: relative;
}

.hero__nav-buttons {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hero__nav-btn {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

.hero__nav-btn--left::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background-image: url("../../img/left-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__nav-btn--right::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 30px;
  height: 30px;
  background-image: url("../../img/right-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 88px;
  color: #1e3240;
  margin-bottom: 19px;
}

.hero__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 48px;
  color: #1e3240;
  margin-bottom: 19px;
}

.hero__text span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  color: #1e3240;
}

.hero__btn {
  background: var(--prime);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  border: none;
  padding: 18px 39px;
  border-radius: 8px;
}

.hero__bottom {
  padding: 24px 0;
  text-align: center;
}

.hero__subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 48px;
  color: var(--1);
}

@media screen and (max-width: 1182px) {
  .hero__list {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .hero__list {
    display: none;
  }
  .hero__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .hero__text-content {
    text-align: center;
  }
  .hero__title {
    font-size: 59px;
  }
  .hero__subtitle {
    font-size: 40px;
  }
  .hero__image img {
    width: 269px;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
  }
  .hero__content {
    gap: 31px;
  }
}
@media screen and (max-width: 561px) {
  .hero__title {
    font-size: 37px;
  }
  .hero__bottom {
    padding: 16px 0;
  }
  .hero__subtitle {
    font-size: 24px;
  }
  .hero__text {
    font-size: 32px;
  }
  .hero__text span {
    font-size: 20px;
  }
  .hero__image {
    width: 173px;
  }
  .hero__btn {
    padding: 10px 39px;
  }
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin: 0 auto;
}

.card {
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 16px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  width: 100%;
  max-width: 100%;
  text-align: center;
}

.card:nth-child(1) .card__btn {
  background: #6fd91c;
}

.card:nth-child(8) .card__btn {
  border: 1px solid var(--prime);
  color: #000;
  background: transparent;
}

.product__title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  color: var(--prime);
}

.card__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.card__top .stars img {
  width: 20px;
}

.product_item_text {
  margin-left: 5px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--prime);
}

.card__title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: var(--1);
  margin-bottom: 10px;
}

.card__image {
  width: 100%;
  max-width: 200px;
  display: block;
  margin: 0 auto 12px;
}

.card__text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--06);
}

.green-dot {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #52d116;
  border-radius: 100%;
  margin-right: 6px;
}

.card__text2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--06);
}

.price {
  margin: 12px 0;
}

.old-price {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  text-decoration: line-through;
  color: var(--05);
  margin-right: 16px;
}

.new-price {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 25px;
  color: var(--1);
}

.card__btn {
  padding: 18px 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: var(--prime);
  border: none;
  border-radius: 8px;
  margin-top: 16px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

.quick-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.quick-links a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--prime);
}

.quick-links a:nth-child(2) {
  text-align: right;
  color: var(--06);
}

@media (max-width: 1205px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 992px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 12px;
  }
  .card__btn {
    display: none;
  }
  .new-price {
    padding: 9px 30px 9px 9px;
    border-radius: 8px;
    background: var(--prime);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: #fff;
  }
  .quick-links a {
    font-size: 13px;
  }
  .card:nth-child(3) .new-price {
    background: #52d116;
  }
  .card:nth-child(6) .new-price {
    background: #52d116;
  }
}
@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
.cost {
  padding-top: 32px;
}

.cost__top {
  padding-top: 32px;
  padding-bottom: 32px;
}

.cost__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  color: var(--1);
  margin-bottom: 22px;
}

.cost__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--07);
}

.cost__middle {
  width: 100%;
  background: #000;
}

.cost_middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 88px;
}

.cost__content_title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;
  color: #fff;
  margin-bottom: 16px;
}

.cost__content_text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  margin-bottom: 24px;
}

.cost__btn {
  padding: 19px 40px;
  border-radius: 8px;
  background: var(--prime);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}

.cost__bottom {
  padding-top: 32px;
  padding-bottom: 32px;
}

@media screen and (max-width: 1024px) {
  .cost_middle {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 72px;
  }
  .cost__img {
    max-width: 110px;
    height: auto;
  }
  .cost__content_title {
    font-size: 32px;
  }
  .cost__content_text {
    font-size: 16px;
    margin-bottom: 16px;
  }
}
@media (max-width: 768px) {
  .cost__middle {
    gap: 24px;
    padding-top: 24px;
    padding-bottom: 10px;
  }
  .cost__bottom {
    padding-bottom: 16px;
  }
  .cost__content_title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .cost__img {
    max-width: 65px;
  }
  .cost__btn {
    padding: 10px 38px;
  }
}
.newer {
  margin-top: 32px;
  margin-bottom: 40px;
}

.newer__title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  color: var(--prime);
  margin-bottom: 24px;
}

.card:nth-child(1) .card__btn {
  background: var(--prime);
}

.card:nth-child(8) .card__btn {
  background: var(--prime);
  color: #fff;
}

@media screen and (max-width: 768px) {
  .newer {
    padding-top: 24px;
  }
}
.gift {
  padding-top: 40px;
}

.gift__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  color: var(--1);
  text-align: center;
  margin-bottom: 24px;
}

.gift__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.gift__item_img {
  text-align: center;
}

.gift__item {
  padding: 20px 8px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.gift__item:nth-child(1) {
  background: -webkit-gradient(linear, left top, left bottom, from(#fe94a6), to(#f2f2f2));
  background: linear-gradient(180deg, #fe94a6 0%, #f2f2f2 100%);
}

.gift__item:nth-child(2) {
  background: -webkit-gradient(linear, left top, left bottom, from(#e685ff), to(#f2f2f2));
  background: linear-gradient(180deg, #e685ff 0%, #f2f2f2 100%);
}

.gift__item:nth-child(3) {
  background: -webkit-gradient(linear, left top, left bottom, from(#7de9ff), to(#f2f2f2));
  background: linear-gradient(180deg, #7de9ff 0%, #f2f2f2 100%);
}

.gift__item:nth-child(4) {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffe685), to(#f6f6f6));
  background: linear-gradient(180deg, #ffe685 0%, #f6f6f6 100%);
}

.gift__item:nth-child(5) {
  background: linear-gradient(179deg, rgb(42, 123, 155) 0%, rgb(176, 224, 167) 22%, rgb(242, 242, 242) 100%);
}

.gift__item_title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: var(--1);
  margin-bottom: 8px;
}

.gift__item_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: var(--07);
  margin-bottom: 85px;
}

.gift__btn {
  padding: 17px 60px;
  border: 1px solid var(--prime);
  border-radius: 8px;
}

@media screen and (max-width: 1210px) {
  .gift__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
  }
  .gift__item {
    padding: 32px;
  }
  .gift__item:nth-child(1) {
    background: var(--light-grey);
  }
  .gift__item:nth-child(2) {
    background: var(--light-grey);
  }
  .gift__item:nth-child(3) {
    background: var(--light-grey);
  }
  .gift__item:nth-child(4) {
    background: var(--light-grey);
  }
  .gift__item:nth-child(5) {
    background: var(--light-grey);
  }
  .gift__item_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 19px;
  }
  .gift__item_text {
    margin-bottom: 0;
  }
  .gift__item_title {
    text-align: start;
    margin-bottom: 18px;
  }
  .gift__item_text {
    text-align: start;
  }
}
@media screen and (max-width: 992px) {
  .gift__item_img {
    width: 80px;
    height: 80px;
  }
  .gift__item_img img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .gift__item_block {
    gap: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .gift__item {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .gift {
    padding-top: 24px;
  }
  .gift__item {
    padding: 16px;
  }
  .gift__item_img {
    display: none;
  }
  .gift__btn {
    display: none;
  }
  .gift__title {
    font-size: 24px;
  }
  .gift__item_title {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .gift__item_text {
    margin-bottom: 16px;
  }
  .gift__content {
    position: relative;
  }
  .gift__content .gift__item_title,
  .gift__content .gift__item_text {
    text-align: center;
  }
  .gift1 .gift__item_title::before {
    content: "";
    width: 32px;
    height: 32px;
    background-image: url("../../img/gift1.png");
    background-size: cover;
    position: absolute;
    top: 0;
    left: -10px;
  }
  .gift2 .gift__item_title::before {
    content: "";
    width: 32px;
    height: 32px;
    background-image: url("../../img/gift2.png");
    background-size: cover;
    position: absolute;
    top: 0;
    left: -10px;
  }
  .gift3 .gift__item_title::before {
    content: "";
    width: 32px;
    height: 32px;
    background-image: url("../../img/gift3.png");
    background-size: cover;
    position: absolute;
    top: 0;
    left: -10px;
  }
  .gift4 .gift__item_title::before {
    content: "";
    width: 32px;
    height: 32px;
    background-image: url("../../img/gift4.png");
    background-size: cover;
    position: absolute;
    top: 0;
    left: -10px;
  }
  .gift5 .gift__item_title::before {
    content: "";
    width: 32px;
    height: 32px;
    background-image: url("../../img/gift5.png");
    background-size: cover;
    position: absolute;
    top: 0;
    left: -10px;
  }
}
.follow {
  padding-top: 40px;
}

.follow__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 86px;
}

.follow__top_title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
  color: var(--1);
  margin-bottom: 8px;
}

.follow__top_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: var(--07);
  margin-bottom: 25px;
}

.follow__bottom_title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  color: #fff;
}

.follow__bottom_text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  margin-bottom: 16px;
}

.follow__input {
  padding: 18px 189px 18px 24px;
  border: 1px solid var(--02);
  border-radius: 8px;
}

.follow__btn {
  margin-left: 16px;
  padding: 18px 33px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--07);
  border-radius: 8px;
  background: var(--01);
}

.follow__content_bottom {
  padding: 16px 40px 80px 40px;
  background: linear-gradient(96deg, #f7355d 0%, #9747ff 100%);
  border-radius: 16px;
}

.follow__list {
  position: absolute;
  bottom: 20px;
  left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.follow__container {
  position: relative;
}

@media screen and (max-width: 1150px) {
  .follow__block {
    gap: 40px;
  }
}
@media screen and (max-width: 1024px) {
  .follow__img {
    max-width: 484px;
    height: 371px;
  }
  .follow__top_text {
    font-size: 16px;
    margin-bottom: 16px;
  }
  .follow__top_title {
    font-size: 32px;
  }
  .follow__block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .follow__content_bottom {
    padding: 0;
  }
  .follow__list {
    bottom: -80px;
    left: 0;
  }
}
@media screen and (max-width: 768px) {
  .follow__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .follow__img {
    display: none;
  }
  .follow__top_title {
    font-size: 24px;
  }
  .follow__content_bottom {
    text-align: center;
  }
  .follow__list {
    bottom: -130px;
    gap: 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .input {
    width: 100%;
  }
  .follow__input {
    width: 100%;
  }
  .button {
    width: 100%;
  }
  .follow__btn {
    width: 100%;
  }
}
.footer {
  padding: 140px 0;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.footer__text1 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--05);
  margin-bottom: 8px;
}

.footer__text_3 {
  font-size: 14px;
  color: var(--03);
}

.footer__list3 li {
  margin-bottom: 16px;
}

.footer__list2 li {
  margin-bottom: 16px;
}

.footer__link2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--1);
}

.footer__link3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--1);
}

.footer__list4 li:nth-child(1) {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  color: var(--1);
  margin-bottom: 4px;
}
.footer__list4 a:nth-child(2) {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--06);
  margin-bottom: 11px;
}
.footer__list4 li:nth-child(3) {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: var(--prime);
  margin-bottom: 40px;
}
.footer__list4 li:nth-child(4) li:nth-child(2) {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--1);
  margin-bottom: 16px;
}
.footer__list4 li:nth-child(4) {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--1);
}

.footer__bottom_list {
  display: none;
}

@media screen and (max-width: 1063px) {
  .footer__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
  }
  .footer__list1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
  }
  .footer__list2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__list3 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__list4 li:nth-child(1) {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    color: var(--1);
    margin-bottom: 20px;
  }
  .footer__list4 li:nth-child(3) {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: var(--prime);
    margin-bottom: 33px;
  }
}
@media (max-width: 768px) {
  .footer__bottom_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 8px;
    margin-top: 20px;
  }
  .footer__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer__list1,
  .footer__list2,
  .footer__list3,
  .footer__list4 {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
  }
  .footer__bottom_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__text1 {
    font-size: 14px;
    line-height: 1.4;
    margin: 5px 0;
  }
  .footer__link2,
  .footer__link3,
  .bottom__link {
    display: inline-block;
    margin: 5px 0;
  }
}/*# sourceMappingURL=main.css.map */